/* Reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.head{
    background-color: #e579e6;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}
/* Body */

/* Footer */
